****************************************************************************
*                                                                          *
* DRILL TAPE SUMMARY REPORT                                                *
*                                                                          *
* C:\DOCUMENTS AND SETTINGS\LORENZO\DESKTOP\TIROCINIO\DESIGN\PCB\TESI.MAX  *
* Fri Feb 22 13:00:58 2008                                                 *
*                                                                          *
****************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
